<% layout('layout/page') %>
<% block('title', "Чат") %>
<p> Добро пожаловать, <%=user.get('username')%></p>

<script src="http://localhost:3000/socket.io/socket.io.js"></script>

<!-- Modal -->
<div class="modal fade add_friend_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="alert alert-success">
      Пользователь добавлен в Ваши друзья!
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div id="room" style="max-height: 200px; overflow-y: scroll;">
          <form style="margin-bottom: 40px;">
              <input disabled class="form-control" autocomplete="off" autofocus placeholder="сообщение">
          </form>
          <ul style="padding-left:0;"></ul>
      </div>
    </div>
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">name <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target=".add_friend_modal">Добавить в друзья</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">Вася <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Добавить в друзья</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">name1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target=".add_friend_modal">Добавить в друзья</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">name2 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target=".add_friend_modal">Добавить в друзья</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">Петя <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target=".add_friend_modal">Добавить в друзья</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</div>



<script>
    var socket = io.connect({
        auto_reconnect: false
    });
    var room = $('#room'),
        form = $('form', room),
        ul = $('ul', room),
        input = form.find(':input');
    socket
        .on('message', function (username, message) {
            printMessage(username + "> " + message);
        })
        .on("leave", function (username) {
            printStatus(username + " вышел из чата");
        })
        .on("join", function (username) {
            printStatus(username + " вошел в чат");
        })
        .on("connect", function () {
            printStatus("соединение установлено");
            form.on("submit", sendMessage);
            input.prop("disabled", false);
        })
        .on("disconnect", function (message) {
            printStatus("соединение потеряно");
            form.off("submit", sendMessage);
            input.prop("disabled", true);
            if (message == "io server disconnect") {
                return this.emit('error', message);
            }
            this.emit('error');
        })
        .on('logout', function () {
            window.location.href = '/';
        })
        .on('error', function (reason) {
            if (reason == "handshake unauthorized") {
                printStatus("вы вышли из сайта");
            } else {
                setTimeout(function () {
                    socket.socket.connect();
                }, 500);
            }
        });
    function sendMessage(e) {
        e.preventDefault();
        var text = input.val();
        socket.emit('message', text, function () {
            printMessage('я> ' + text);
        });
        input.val('');
    }
    function printStatus(status) {
        $('<div class="alert alert-warning" style="margin: 20px 20px 20px 0;">').append($('<i>').text(status)).prependTo(ul);
    }
    function printMessage(text) {
        $('<li>', {text: text}).prependTo(ul);
    }
</script>
